/* ============================
    VARIABLES DE COULEUR 
============================*/
:root{
    --color1: #071c72;
    --color2: #1792D2;
    --color4: #143774;

    /* --color5: #071c72; */

    --font1: 'Lora', serif;
    --font2: 'Ubuntu', sans-serif;

    --font3: 'Permanent Marker', cursive; 
}
/* ===============================
    TYPOGRAPHIE 
===============================*/
body{
    font-family: 'Open Sans', sans-serif;
    color: var(--color1);
    font-size: 1.125rem;
}
h1,
h2,
h3{
    /* font-family: 'Handlee', cursive; */
    /* font-family: 'Yanone Kaffeesatz', sans-ÅÅserif; */
    font-family: 'Kalam', cursive;
    
    color: var(--color1);
    font-weight: 400;
}
h1{
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
    
}
.logo{
   font-family: var(--font3);
   color: var(--color1);
   font-size: 5rem;
   text-align: center;
   text-shadow: -0.07em 0.07em 0.4em rgb(255, 255, 255), 0.04em 0.04em rgb(255, 255, 255);
   
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
.article_title{
    border-bottom: 1px solid var(--color1);
    /* background-color: forestgreen; */
    width: 80%;
    margin: 0 auto;
    margin-top: 0.5em;
}
.article_title:hover,
.article_title:focus{
    color: var(--color3);
}
.article_content{
    font-size: 0.800rem;
}
p{
    font-size: 1rem;
}
a{
    text-decoration: none;
}
.subtitle{
    font-weight: 700;
    color: var(--color2);
    font-size: .75rem;
    margin: 0;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 1.2rem;
    /* text-shadow: -0.07em 0.07em 0.9em rgb(255, 255, 255), 0.04em 0.9em rgb(255, 255, 255); */
}
nav a{
    /* font-family: 'Biryani', sans-serif; */
    /* font-family: 'Courgette', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Kaushan Script', cursive;
    color: var(--color1);
    font-size: 1.5rem;
}

/* ============================
   LAYOUT
===============================*/
/* PAGE ACCUEIL-----//////////\\\\\\\\\\\\\\\\\\\\\\ */
header{
    min-height: 30vh;
}
body{
    position:relative;
    /* font-size: 1.125rem; */
    /* color: var(--color4); */
    margin: 0;
    /* font-family: var(--font2); */
 
    /* font-weight: 300; */

    /* background-attachment: fixed; */

}
body::before{
    content: '';
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute; 
    background-image: url('../images/wallpaper2.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;

}
img{
        max-width: 100%;
        display:block;
}
.container_intro{
    width: 95%;
    max-width: 1000px;
    /* border:1px solid rgb(48, 42, 48); */
    margin: 0 auto;
    display: flex;
    justify-content: center;
   /* background-color: lawngreen;  */
    
    /* background-color: mediumturquoise; */
}
.container_flex{
    display: flex;
    justify-content: space-between;
}
/* HEADER ET NAV -------------/////\\\\\\\\\\\\\\\\\\\\\\\\ */
.site_title{
    /* margin:0 auto; */
    background-image: url('../images/japan2.PNG');
    /* background-color: black; */
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.container_nav{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    width: 95%;
    /* max-width: 1000px; */
    /* border:1px solid rgb(48, 42, 48); */
    margin: 0 auto;
    position: relative;
}
nav ul{
    /* border: 1px solid magenta; */
    list-style: none;
    padding: 0;
    display:flex;
    /* background-color: aqua; */
    justify-content: center;
    
}
nav li{
    /* border: 1px solid rgb(19, 17, 19); */
    margin: 0 2em;
}
nav a{
    /* border: 1px solid rgb(255, 166, 0); */
    padding: .25em 0;
}
nav a:hover, nav a:focus{
    color: var(--color2);
    border-bottom: 1px solid var(--color2);
}
/* //////// 
\\\\\\ PARTIE INTRO */
.intro_featured{
    width: 100%;
    height: 70vh;
    /* border: 1px solid red; */
    background-color: rgb(129, 54, 54);  
    display: flex;
    margin: 0 auto;
    /* box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);; */
}
.intro_image{
    width: 55%; 
    /* max-height: 70vh; */
    /* height: 100%; */
     /* max-width: 100%; */
    /* max-height: 100%; */
    display: block;
    object-fit: cover;
    object-position: center;
    /* clip-path: circle(40%); */
    margin: 0 auto; 
    position: relative;
 
}
/* //////// 
\\\\\\ PARTIE SUB-intro */
.container_subintro{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    position: relative;
}

.subintro_featured > h2{
    font-size: 3rem;
    background-color: white;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    
    padding: 0.1em 1em;
    box-shadow: 0.1em 0.1em 0.1em var(--color1), -0.1em -0.1em 0.1em var(--color1);
    border-radius: 10px 100px / 120px; 
}
.subintro_featured{
    margin-top: 10em;
    margin-bottom: 8em;
}
/* \\\\\////\\/\//\//\/
PARTIE MAIN --------- */
.container_main{
    /* background-color: rgb(71, 129, 89); */
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width: 95%;
    /* max-width: 1000px; */
    /* border:1px solid rgb(48, 42, 48); */
    margin: 0 auto;
    /* margin-top: 30vh; */
    position: relative;
}
.home_main{
    /* max-width: 700px; */
    /* border: 1px solid rgb(52, 65, 179); */
    width: 70%;
  
}
.home_article_each{
    /* border: 1px solid rgb(0, 255, 13); */
    /* margin-bottom: 2px; */
    display: flex;
    flex-direction:row;  
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content:space-between; */
    position: relative;
    margin-bottom: 20em;
    justify-content: right;
}
.home_article_each_text{
    width:50%;
    /* background-color: magenta; */
    /* border: 1px solid rgb(255, 0, 157); */
    background-color: white;
    position: absolute;
    top: 2em;
    left: 45%;
    /* border-radius:74% 26% 100% 0% / 0% 100% 0% 100% ; */
    /* border-radius: 2em ; */
    box-shadow: 0.1em 0.1em 0.2em var(--color1), -0.1em -0.1em 0.2em var(--color1);
    z-index: 3; 
    text-align: center;
}   
.home_article_each_image{
    /* width:50%; */
    /* background-color: limegreen; */
    /* border: 1px solid yellow; */
    /* max-width: 50%; */
    /* background-color: white; */
    position: absolute;
    top:-2em;
    left: 0;
    z-index: 2; 
}
/* .home_article_each_image img{
    display:block;
    width:100%;
} */
.home_aside{
    width: 35%;
    max-width: 250px;
    /* border: 1px solid rgb(243, 233, 42); */
}
.home_article_each_image > img{
    width: 100%;
    height: 90%;

    object-fit: cover; /* NOUVELLE PROPRIETE INCROYABLE*/
    object-position: center;
    border: 1px solid white;
    /* border-radius: 10px 100px / 120px; */
    box-shadow: 0.4em 0.4em 0.4em #000000, -0.4em -0.4em 0.4em #000000;
}
.home_article_each_image > p{
    text-align: center;
    background-color: white;
    /* width:fit-content; */
    /* margin: O auto; */
    width: fit-content;
    margin: 0 auto;
}
.boutton_continue:hover{
    color: var(--color2);
}

/* \\\\\////\\/\//\//\/
PARTIE ASIDE --------- */
.aside_widget{
    /* border: solid var(--color1) 0.4em; */
    border-top: solid var(--color1) 0.01em;
    border-left: solid var(--color1) 0.01em;
    margin-bottom:1em;
    padding: 0.5em;
    background-color: white;
    box-shadow: 0.3em 0.3em 0.3em var(--color4);
}
.widget_collab{
    border-bottom: 1px solid gray;
}
.widget_collab:last-child{
    border-bottom:0;
}
.home_aside h3, p{
    text-align: center;
}
/* \\\\\////\\/\//\//\/
PARTIE FOOTER --------- */
.home_footer{
    /* background-color: rgb(24, 78, 33); */
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
.foot_container_main{
    background-color: rgba(0, 0, 0, 0.939);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    padding: 2em;
   
}
.foot_container_main h4{
    text-align: left;
    color:white;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.foot_container_main p{
    text-align: left;
    color:rgb(175, 172, 172);
    font-size: 0.9rem;
}
.foot_block:nth-child(1){
    /* width: 80%; */
    flex:2 1 35%;
    /* border: solid 1px rgb(59, 180, 59);  */
    margin: auto;
    
}
.foot_block:nth-child(2){
    flex:1 1 12%;
    flex-direction: column;
    /* border: solid 1px darkmagenta; */
}
.foot_block:nth-child(3){
    flex:1 1 12%;
    flex-direction: column;
    /* border: solid 1px darkslateblue; */
}
.foot_block:nth-child(4){
    flex:1 1 12%;
    flex-direction: column;
    /* border: solid 1px firebrick; */
}
.foot_block a{
    display: block;
    margin-bottom: 0.2em;
    color:rgb(136, 135, 135);
    font-size: 0.8rem;
    width: fit-content;
}
.foot_logo >h1{
    font-family: var(--font3);
    color: var(--color1);
    font-size: 3.5rem;
    text-align: center;
    text-shadow: -0.07em 0.07em 0.4em rgb(255, 255, 255), 0.04em 0.04em rgb(255, 255, 255); 
    background-image: url('../images/japan2.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.foot_social{
    display: flex;
    /* background-color: wheat; */
    justify-content: center;
}
.foot_social a{
    margin-left: 0.3em;
    font-size: 2rem;
    color:#3556DB;
}

.foot_block a:hover{
    color: white;
}

.foot_production{
    background-color: rgba(0, 0, 0, 0.939);
    color: white;
    border-top: 0.1em solid white;
   
}
.foot_production > p{
    margin: 0;
    padding: 0.8em;
    font-size: 0.8rem;

}

@media (min-width:1100px){
    .home_article_each_image{
        width: 50%;
    }
    .home_article_each_text{
        width: 50%;
      
    }
}

@media (max-width:1100px){
    .container_nav{
       flex-direction: column; /* Partie HEADER*/
    }
    header{
        text-align: center;
    }
    nav ul{
        justify-content: space-around;
        flex-direction: column;
    }
    nav li{
        margin:0;
    }
    .intro_featured{
        margin: 0 auto; /* Partie INTRO*/
    }
    .container_main{
        flex-direction: column; /* Partie MAIN + ASIDE*/
       
    }
    .home_main{
        margin: 0 auto;
        width: 100%;
    }
    .home_article_each{
        flex-direction: column; /*Partie MAIN */
         /* background-color: rgb(38, 0, 128);  */
        align-items:center;
        width: 100%;
        position: static;
        margin-bottom: 2em;
    }
    .home_article_each_image{
        width: 70%;
        position: static;
    }
    .home_article_each_text{
        width: 70%;
        position: static;
    }
    .home_aside{
        /*Partie ASIDE */
        width: 60%;
        max-width: 100%;
        margin: 0 auto;
    }
    .foot_container_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .foot_block{
       width: 50%;
       margin: auto;
       display: flex;
       flex-direction: column;
       margin-bottom: 1em;
    }
    .foot_logo{
        margin: 0 auto;
        /* background-color: brown; */
        width: fit-content;
    }
    .foot_logo >h1{
        font-size: 2em;
        /* background-color: coral; */
        width: fit-content;
        
    }
    .foot_social a{
        margin-left: 0.1em;
        font-size: 1rem;
    }
    .blocko a, h4{
       /* background-color: blue; */
       display:block ;
       margin: 0 auto;
    }
    .foot_block:nth-child(1){
        margin-bottom: 1em;

    }
}
/* Cette media querrie est pour les vieux telephones : */
@media (max-width:450px){
    nav ul{
        flex-direction: column;
    }
}